.slide-container{
    margin-top: 1%;
    width: 100vw;
    height: 20vh;
    background-color: white;
    border-color: white;
}

.slide-item{
    width: 100%;
    height: 20vh;
    user-select: none;
}

.slide-image{
    width: 100%;
    height: 100%;
}