.search-view{
    min-width: 100vw;
    min-height: 100vh;
    background-color:gold;
    position: relative;
    top: 0px;
}

.card-view{
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
}